<template>
    <div id="concert" :data-id="id">
        <h1><a :href="url" target="_blank">{{ title }} - {{ date }}</a></h1>
        <h2>{{ date }}</h2>
        <ul id="program">
            <li v-for="work in works" :key="work.id">
                <router-link v-if="work.bnfid" v-bind:to="'/work/' + work.bnfid">{{ work.title }}</router-link>
                <span v-else>{{ work.title }}</span>
                [<a v-bind:href="work.uri">doremus</a>]
            </li>
        </ul>
    </div>
</template>

<script>
import { fetchPerformanceInfos } from "../lib/sparql.js";
export default {
    name: 'search',
    mounted() {
        fetchPerformanceInfos(this.$route.params.performance).then(infos => {
            this.title = infos.title;
            this.date = infos.date;
            this.url = infos.url;
            this.works = infos.works;
        });
    },
    data() {
        return {
            id: this.$route.params.concert,
            title: 'concert',
            date: '01/01/2001',
            url: '#',
            works: [],
        }
    },
}
</script>

<style>
#program {
    width: 20%;
    margin: auto;
    text-align: left;
}
</style>
