<template>
    <div id="concertlist">
        <h1>Derniers concerts</h1>
        <ul id="concerts">
            <li v-for="perf in performances" :key="perf.concert">
                <router-link v-bind:to="'/performance/' + perf.concert.slice(perf.concert.lastIndexOf('/') + 1)">{{ perf.date }} - {{ perf.concertLabel }}</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
import { fetchConcertsWithDatabnfWorks } from "../lib/sparql.js";
export default {
    name: 'ConcertList',
    mounted() {
        fetchConcertsWithDatabnfWorks().then(performances => {
            this.performances = performances;
        });
    },
    data() {
        return {
            performances: [],
        }
    },
}
</script>

<style>
#concertlist {
    width: 30%;
    margin: auto;
    text-align: left;
}

#concertlist h1 {
    text-align: center;
}
</style>
