<template>
    <div id="search">
        <h1>{{ msg }}</h1>
        <span><router-link to="/concerts">Liste des concerts</router-link></span>
        <form v-on:submit="search" action="#">
            <input v-model="q" type="text" placeholder="Entrez une œuvre" name="q"></input>
        </form>
        <section id="results">
            <ul v-if="results.length">
                <li v-for="item in results" :key="item.bnfid">
                    <router-link v-bind:to="'/work/' + item.bnfid">{{ item.title }} - ({{ item.complabel }})</router-link>
                </li>
            </ul>
        </section>
    </div>
</template>

<script>
import { ftisearchWorks } from "../lib/sparql.js";

export default {
    name: 'search',
    data() {
        return {
            q: '',
            msg: 'Tous au concert !',
            results: [],
        }
    },
    methods: {
        search(event) {
            ftisearchWorks(this.q).then(response => {
                this.results = response;
            });
            event.preventDefault();
        },
    },
}
</script>

<style>
.form {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.form input {
    font-size: 2em;
}

#results {
    width: 20%;
    margin: auto;
    text-align: left;
}
</style>
