<template>
    <div id="work" :data-id="id">
        <div class="corps">
            <section>
                <div class="oeuvre">
                    <div class='header'>
                        <img :src='work.depictions' :alt="work.prefLabel" class='thumbnailOeuvre' />
                        <h1>{{work.prefLabel}}</h1>
                        <p>{{work.year}}</p>
                    </div>
                    <div class='content'>
                        <p v-if='typeof work.description != "object"'>{{ work.description }}</p>
                        <p v-else v-for='(description, index) in work.description' :key="index">{{description}}</p>
                        <p>{{work.note}}</p>
                    </div>
                </div>
            </section>
            <section>
                <div class='contributors'>
                    <div class='contributorsRole' v-for='(contributorsRole, role) in work.contributors' :key="role">
                        <h2>{{ role }}</h2>
                        <div class='contributor' v-for='(contributor, index) in contributorsRole' :key="index">
                            <div class='header'>
                                <img :src='contributor.depictions[0]' :alt="contributor.prefLabel" v-if='contributor.depictions' class='thumbnailContributor' />
                                <h3>{{ contributor.prefLabel }}</h3>
                            </div>
                            <div class='content'>
                                <p>{{ contributor.notes }}</p>
                                <p v-if='contributor.abstract'>{{ contributor.abstract.abstract }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="bandeau">
            <div id="player" v-if="player.cover && player.playlist">
            <img :src="player.cover" />
            <!-- <audio controls v-for='track in player.playlist'>{{description}}
                <source :src="track.preview" />
            </audio> -->
            <audio controls>
                    <source :src="player.playlist[0].preview" />
                </audio>
            </div>
            <div id="critics">
                <div v-for="critic in critics.slice(0, 5)" :key="critic.uri">
                    <a :href="critic.uri"><img :src="critic.depiction" /></a>
                    <p>{{critic.description}}</p>
                </div>
            </div>
            <hr v-if='sheets.length'/>
            <div id="sheets">
                <div v-for="sheet in sheets.slice(0, 5)" :key="sheet.uri">
                    <a :href="sheet.uri"><img :src="sheet.depiction" /></a>
                    <p>{{sheet.description}}</p>
                </div>
            </div>

            <div id="gallica-sounds">
                <div v-for="track in sound.slice(0, 5)" :key="track.mp3uri">
                     <audio controls>
                      <source :src="track.mp3uri" type="audio/mp3">
                     </audio>
                </div>
            </div>
            <!--
            <div id="player">
              Deezer ?

                    <div class="deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=300&height=300&color=007FEB&layout=dark&size=medium&type=playlist&id=30595446&app_id=1" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="300" data-height="300"></div>
            </div>
            <div id="partitions">
                <ul>
                    <li class="partition" v-for="partition in partitions"><a :href="partition.url">{{partition.title}}</a></li>
                </ul>
            </div>
        -->
        </div>
    </div>
</template>

<script>
import { workinfos } from "../services";

export default {
    name: 'work',
    mounted() {
        workinfos(this.$route.params.work)
            .then(response => {
                this.work = response;
                if (response.eans && response.eans.length) {
                    fetch(`/deezer/${response.eans.join(',')}`)
                        .then(response => response.json())
                        .then(response => {
                            for (const album of response) {
                                if (album.id && album.tracks && album.tracks.length) {
                                    this.player.cover = album.cover;
                                    this.player.playlist = album.tracks;
                                    break;
                                }
                            }
                        });
                }
                let compname = response.contributors.compositeur[0].prefLabel;
                compname = compname.split('(')[0].trim();
                fetch(`/critics/${response.prefLabel}/${compname}/${response.year}`)
                    .then(response => response.json())
                    .then(response => {
                        this.critics = response;
                    });
                fetch(`/sound/${response.prefLabel}/${compname}`)
                    .then(response => response.json())
                    .then(response => {
                        this.sound = response;
                    });
            });
    },
    data() {
        return {
            id: this.$route.params.work,
            work: {},
            player: {
                cover: null,
                playlist: [],
            },
            critics: [],
            sheets: [],
            sound: [],
        }
    },
}
</script>

<style>
.corps {
    width: 63%;
    float: left;
}

section {
    padding: 15px;
    box-shadow: 0 0 12px #999;
    border-radius: 5px;
    margin-bottom: 30px;
}

.bandeau {
    float: right;
    width: 30%;
    padding: 15px;
    margin-bottom: 60px;
    box-shadow: 0 0 12px #999;
    border-radius: 5px;
    text-align: center;
}

.thumbnailOeuvre {
    width: 220px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}

h2>p {
    font-size: 1.45em;
    font-weight: bold;
    color: #666
}

#content {
    clear: both;
}

.contributor .header img {
    float: left;
    margin-right: 20px;
}

.contributor {
    clear: both;
    overflow: hidden;
    margin: 5px 0;
}

#player {
    max-width: 100%;
}

#player img {
    max-width: 100%
}

#app>h1 {
    padding: 30px;
    text-align: center;
    background-color: #eceff0;
    font-size: 2.5em;
    box-shadow: 0 0 12px #999;
    border-radius: 5px;
}

.thumbnailContributor {
    width: 200px;
}
</style>
